:root {
    --neon: #FF53cd;
    --neon-glow: #e10361;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    margin: 0; 
    background-color: rgb(0, 0, 0);
    gap:100px;
}

.wrapper {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--neon);
    box-shadow: 0 0 5px var(--neon-glow), 0 0 10px var(--neon-glow), 0 0 20px var(--neon-glow);
    border-radius: 10px;
    padding:10px 10px 40px 10px;
}

h1{
    color:white;
    font-family: "Poppins", serif;
    font-weight: 400;
}

.avatar{
    color:rgb(97, 50, 148);
    font-family: "Poppins", serif;
    font-weight: 800;
}

.submit{
    
    padding:20px;
    font-family: "Poppins", serif;
    font-weight: 400;

}


   

.followers{
    font-size: 20px;
    padding:10px;
    color:white;
    font-family: "Poppins", serif;
    font-weight: 400;
}

.pic{
    height:200px;
    border-radius: 10px;

}

.label{
    color:white;
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 400;
    
}

.inputtxt{
    height:20px;
    width:300px;
}

.name{
    color:white;
    font-size: 20px;
    font-family: "Poppins", serif;
    font-weight: 400;
}

